# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables and secrets
.env
*.env
.streamlit/secrets.toml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python virtual environments
venv/
.env/
.venv/

# FAISS and pickle index files (if generated locally)
*.faiss
*.pkl

# Hugging Face cache
~/.cache/huggingface/